{{ 'contact.js' | asset_url | script_tag }}

<img src="https://cdn.shopify.com/s/files/1/1365/6099/files/ContactBackground.jpg?4238820667312040944" id="bg">

<div class="contactContent" >

<div class="textBox">
      {{ page.content }}
</div>
</div>



